.store-list {
  box-sizing: content-box;
  text-align: center;
  width: 400px;
  list-style: none;

  margin: 10px;
}

.store {
}

.selected {
  border: solid 3px blue;
}

.not-selected {
  border: solid 1px black;
}
